<div class="page-header">
  <div class="header-wrapper row m-0">
    <div class="header-logo-wrapper col-auto p-0">
      <div class="logo-wrapper"><a href="/"><img class="img-fluid" src="/images/logo/logo.png" alt=""></a></div>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
    </div>

    <div class="left-header col horizontal-wrapper ps-0">
      <ul class="horizontal-menu">
        <li class="mega-menu"><a class="nav-link" href="javascript:window.Metomic('ConsentManager:show')"><i data-feather="layers"></i><span>Yura Bot Dashboard</span></a>
        </li>
      </ul>
    </div>
    
    <div class="nav-right col-8 pull-right right-header p-0">
      <ul class="nav-menus">
        <li class="language-nav">
          <div class="translate_wrapper">
            <div class="current_lang">
              <div class="lang"><i class="flag-icon flag-icon-us" id="flag"></i><span class="lang-txt lang" key="lang">EN</span></div>
            </div>
            <div class="more_lang">
              <div class="lang" data-value="en" onclick="setLanguage('en'), document.location.reload();"><i class="flag-icon flag-icon-us"></i><span class="lang-txt"></span>English</div>
              <div class="lang" data-value="fr" onclick="setLanguage('fr'), document.location.reload();"><i class="flag-icon flag-icon-fr"></i><span class="lang-txt">Français</span></div>
              <div class="lang" data-value="es" onclick="setLanguage('es'), document.location.reload();"><i class="flag-icon flag-icon-es"></i><span class="lang-txt">Spain</span></div>
            </div>
          </div>
        </li>

        <li class="onhover-dropdown">
          <div class="notification-box"><i data-feather="bell"> </i><span class="badge rounded-pill badge-secondary">2</span></div>
          <ul class="notification-dropdown onhover-show-div">
            <li><i data-feather="bell"></i>
              <h6 class="f-18 mb-0">Notitications</h6>
            </li>
            <li>
              <p><i class="fa fa-circle-o me-3 font-primary"> </i>New : Multi-Language dashboard !</p>
            </li>
            <li>
              <p><i class="fa fa-circle-o me-3 font-success"></i>Adding an advanced customization system !</p>
            </li>
            <li></li>
          </ul>
        </li>

        <li class="maximize"><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a></li>
        <li class="profile-nav onhover-dropdown p-0 me-0">
          <div class="media profile-media"><img class="b-r-10 img-30" src="<%=avatar%>" alt="">
            <div class="media-body"><span><%=status%></span>
              <p class="mb-0 font-roboto lang" key="user">Utilisateur <i class="middle fa fa-angle-down"></i></p>
            </div>
          </div>
          <ul class="profile-dropdown onhover-show-div">
            <li><i data-feather="user"></i> <a href="/profile"> <span class="lang" key="myProfil">Mon Profile</span></li>
            <%if(status !== "Se connecter") {%>
             <li><i data-feather="log-out"></i> <a href="/logout"> <span class="lang" key="logout">Logout</span></li>
            <%}%>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>