<!DOCTYPE html>
<html lang="fr">
<head>

    <%- include('partials/header'); %>
    <title>Yura | 404</title>

  </head>
  <body onload="updateTheme()">
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <div class="error-wrapper">
        <div class="container"><img class="img-100" src="/images/other-images/sad.png" alt="">
          <div class="error-heading">
            <h2 class="headline font-danger">404</h2>
          </div>
          <div class="col-md-8 offset-md-2">
            <p class="sub-content">La page que vous essayez d'atteindre n'est pas disponible actuellement. Cela peut être dû au fait que la page n'existe pas ou a été déplacée.</p>
          </div>
          <div><a class="btn btn-danger-gradien btn-lg" href="/">RETOUR À LA PAGE D'ACCUEIL</a></div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.js"></script>
    <script src="/js/icons/feather-icon/feather.min.js"></script>
    <script src="/js/icons/feather-icon/feather-icon.js"></script>
    <script src="/js/sidebar-menu.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/theme-customizer/customizer.js"></script>
  </body>
</html>